<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-language" content="fr" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${appName}">SpringBoot</title>
  </head>
  <body>
    <h1 th:text="${appName}">SpringBoot</h1>

    <p>Hello World!</p>

    <fieldset>
      <legend>WebSocket tester</legend>
      <input id="url" type="text" value="wss://spring.l3miage.fr/echo" style="width: 200px;" placeholder="WebSocket Endpoint" />
      <button type="button" id="toggle" onclick="toggleWebSocket();" style="width: 60px;">Open</button>
      <br />
      <input id="message" type="text" value="Hello World!" style="width: 200px;" placeholder="Sent message" disabled="true" />
      <button id="send" type="button" onclick="sendMessage();" style="width: 60px;" disabled="true">Send</button>
      <p id="output"></p>
    </fieldset>

    <script type="text/javascript">
      var toggler = document.getElementById('toggle');
      var url = document.getElementById('url');
      var input = document.getElementById('message');
      var output = document.getElementById('output');
      var sender = document.getElementById('send');
      var ws = null;

      function addOutput(content, color) {
        var node = document.createElement('span');
        node.style = 'display:block;color:' + color;
        node.innerHTML = content;

        output.appendChild(node);
      }

      function toggleWebSocket() {
        if (ws) {
          ws.close();
          toggler.innerHTML = 'Open';
          ws = null;

          return;
        }

        ws = new WebSocket(url.value);

        ws.onopen = function () {
          toggler.innerHTML = 'Close';
          input.disabled = sender.disabled = false;
          url.disabled = true;
          addOutput('Connection established', 'blue')
        };

        ws.onclose = function () {
          input.disabled = sender.disabled = true;
          url.disabled = false;
          addOutput('Connection closed', 'red')
        }

        ws.onmessage = function(content) {
          addOutput('Received: ' + content.data, 'green');
        }
      }

      function sendMessage() {
        if (ws) {
          var content = input.value;

          addOutput('Sent: ' + content, 'black')
          ws.send(content);
        }
      }
    </script>
  </body>
</html>
